@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.recipe-title {
    font-family: 'Poppins', sans-serif;
    color: #EA5C2B;
}

.form-font {
    font-family: 'Poppins', sans-serif;
    color: #064635;
    font-weight: 700;
}

.header-label {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    color: #EA5C2B;
}

