@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.recipe-title {
    font-family: 'Poppins', sans-serif;
    color: #EA5C2B;
}

.ingredient-title {
    font-family: 'Poppins', sans-serif;
    color: #EA5C2B;
}

.form-font {
    font-family: 'Poppins', sans-serif;
    color: #064635;
    font-weight: 700;
}

.header-label {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    color: #EA5C2B;
}

.photo-btn-resize {
    display: flex;
    flex-direction: row; 
    width: 100%; 
    margin-top: 40px;
}

.submit-btns {
    display: flex;
    flex-direction: row;
    margin-top: 30%;
    justify-content: flex-end;
    align-items: center;
}

.form-resize {
    display: flex; 
    flex-direction: row;
}

.first-part-resize {
    width: 50%; 
}

.second-part-resize {
    width: 50%;
}

.recipe-txt {
    width: 90%;
}

/* img[src*="./src/assets/icons8-add-96.png"]{
    padding: 75px;
    width: 50px;
    height: 50px;
} */



@media (max-width: 840px) {
    .photo-btn-resize {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .photo-resize {
        align-items: center;
    }

    .submit-btns {
        justify-content: center;
    }
}

/* Small screen size */
@media (max-width: 600px) {
    .form-resize {
        flex-direction: column;
    }

    .first-part-resize {
        width: 100%; 
        margin: 0px;
    }

    .second-part-resize {
        width: 100%;
        padding-top: 20px;
    }

    .recipe-txt {
        width: 100%;
    }

    .recipe-title {
        text-align: center;
    }
}
