.nav-link {
    text-decoration: none;
    color: #E38B29 !important;
    font-weight: 600;
    /* Add the following styles to set the default background color for the links */
    background-color: transparent;
    padding: 5px 8px;
    border-radius: 20px;
}

.nav-link:hover {
    color: #EA5C2B !important;
    background-color: #FFDEDE;
}

/* Add a separate style for the "+Create Recipe" button */
.nav-link[href*="create_recipe"] {
    color: #F7A4A4 !important;
    /* Add any additional styles you want for this button */
}