.home-container {
    padding: 0px 0px !important;
    margin: 0px 0px !important;
}

.aboutus-container {
    background-color: #FDEEDC;
    padding-top: 18px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    
}