@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;1,700&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Mulish:wght@400;500;600&family=Noto+Sans:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

.card-desc {
    overflow: hidden;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 4 !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    text-align: justify;
    text-justify: inter-word;
    word-spacing: -1px;
    width: 300px;
}

.card-save-container {
	position: relative;
}

.card-icon {
	position: absolute;
	top: 0;
	right: 0;
    width: 30px;
    height: 30px;
}


.read-more {
    color: #EA5C2B !important;
    font-size: 18px !important;
    font-family: "Poppins" !important;
    font-weight: 700 !important;
}

.read-more:hover {
    color: #ffd8a9 !important;
    /* background-color: transparent !important; */
    background-color: #E38B29 !important;
}