@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

h2, h3, h4 {
    margin: 0
}

.preparation-style {
    display: flex; 
    flex-direction: column; 
    margin: 0px 30px;
    align-items: center;
}

.poppins-font {
    color: #064635;
    font-family: 'Poppins', sans-serif;
}

.poppins-font-orange {
    color: #FF7F3F;
    font-family: 'Poppins', sans-serif;
}

.header-label {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    color: #EA5C2B;
}

.body-font {
    color: #064635;
    font-family: 'Poppins', sans-serif;
    font-weight: 500 !important;
}

.txt-center {
    text-align: center;
}

